#{extends 'main.html' /}
#{set title:'Trainer Dashboard' /}

#{trainermenu id:"trainerdashboard"/}

<section class="ui raised segment">
  <header class="ui header">
    Trainer ${trainer.name}
  </header>

  <table class="ui single line table">
    <tbody>
      <div class="ui relaxed divided list">
        #{list items: members, as:'member'}
          <tr>
            <td>
              <div class="item">
                <div class="content">
                  <i class="user icon"></i><a href="/trainerdashboard/trainerview/${member.id}">${member.name}</a>
                  <a href="/trainerdashboard/${trainer.id}/deletemember/${member.id}"><i class="large red trash icon"></i></a>
                </div>
              </div>
            </td>
          </tr>
        #{/list}
      </div>
    </tbody>
  </table>
</section>

