<!DOCTYPE html>
<html>
<body>

#{extends 'main.html' /}
#{set title:'Trainer Dashboard' /}

#{trainermenu id:"trainerview"/}

<section class="ui raised segment">
  <div class="ui four statistics">
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      ${member.name}
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="${member.getIdeal()} dashboard icon"></i>
      </div>
      <div class="label">
        Ideal Bodyweight
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="heartbeat icon"></i>${member.getBMI()}
      </div>
      <div class="label">
        BMI
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
      ${member.getCategory()}
      </div>
    </div>
  </div>
</section>

<section class="ui raised segment">
  <table class="ui seven column table">
    <thead>
      <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Comment</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      #{list items:assessments, as:'assessment'}
      <tr>
        <td>
          ${assessment.weight}
        </td>
        <td>
          ${assessment.chest}
        </td>
        <td>
          ${assessment.thigh}
        </td>
        <td>
          ${assessment.upperArm}
        </td>
        <td>
          ${assessment.waist}
        </td>
        <td>
          ${assessment.hips}
        </td>
        <td>
          ${assessment.comment}
        </td>
        <td>
          <a href="/dashboard/${member.id}/deleteAssessment/${assessment.id}"><i class="large red trash icon"></i></a>
        </td>
    </tr>
    #{/list}
    </tbody>
  </table>
</section>